.block2 {
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    
}

.block2 h1 {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.19px;
    color: #033656;
    margin-left: 30px;


}   
.divP {
    width: 90%;
    height: 300px;
    margin: auto;
    text-indent: 40px;

}
.block2 p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-left: 30px;
    

}